html{
    height: 100%;
    width:100%;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url(fonts/NetflixSansRegular.ttf);
}

@font-face {
    font-family: 'Netflix Bold';
    src: url(fonts/NetflixSansBold.ttf);
}



body{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('assets/background.jpeg');
    background-size: 100%;
    color:rgb(255,255,255);
    font-family: 'Netflix Sans';
    margin:0;
}

.baner{
    text-align: center;
    height: 20px;
    background-color:rgb(255,255,255);
    color:black;
    font-size: 15px;
    padding-top:15px;
    padding-bottom:15px
}

#preço{
    font-family:'Netflix Bold';
}

#logo{
    height:50px;
    left:30px;
    margin: 20px;
}

#novo{
    background-color: rgb(229, 9, 20);
    color:aliceblue;
    border-radius: 10px;
    padding-inline: 8px;
    padding-block: 3px;
    font-size: 10px;
}

.saiba{
    padding-left: 30px;
    font-family: 'Netflix Bold';
    
}

a{
    text-decoration: none;
    color:rgb(22, 63, 225);
}


.texto{
    display: block;
    align-items: center;
    text-align: center;
    position: center;
    margin-top:50px;
}

#filmes, #assista, #assistir {
    display:block;
}

#filmes{
    font-family: 'Netflix Bold';
    font-size:50px;
}

#frases{
    font-size: 15px;
}

#assista{
    font-size: 20px;
}

#campo{
    margin-top:20px;
}

#vamos{
    padding: 0.75rem 1.5rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    border:0;
    margin-top:3px;
    margin-left: -4px;
    height: 54px;
    font-size: 15px;
}

#bEntrar{
    min-height: 2rem;
    padding-inline: 5px;
    padding-block: 3px;
    background: rgb(229,9,20);
    color: rgb(255,255,255);

    border: 0;
    margin-left:20px;
}

#email{
    height: 20px;
    width: 350px;
    padding:15px;
    margin-right: 0;

}

#planos{
    padding-left: 20px;
}

#idioma{
    height: 30px;
    background: #0000004a;
    color:white;
}

#seleçao{
    margin-top: 20px;
    margin-left: 75%;
}

#logoSeleçao{
    display:flex;
}